$color-black: #000;
$color-light-black: #333;
$color-dark: #777;
$color-white: #fff;
$color-light-white: #fcfcfc;
$color-grey: #ddd;
$color-light-grey: #eee;
$color-green: #008952;
$color-orange: #ff6f31;

$tablet-width: 991px;
$phone-width: 767px;

$primary-font: 'Roboto';